version: '2'
services:
  factorio:
    container_name: factorio
    image: factoriotools/factorio
    ports:
     - "34197:34197/udp"
    volumes:
     - /opt/factorio:/factorio
    environment:
     - USERNAME={{ factorio_username }}
     - TOKEN={{ factorio_token }}
     - UPDATE_MODS_ON_START=true
#      - PUID=1000
#      - PGID=1000
